<template>
  <div class="main">
    <List />
    <Advertisement />
  </div>
</template>

<script>
import List from "./List.vue";
import Advertisement from "./Advertisement.vue";
export default {
  components: {
    List,
    Advertisement,
  },
};
</script>

<style scoped>
.main {
    margin: 0 auto;
    margin-top: 116px; /* 这里的距离是头部高度+想要margin-top的距离，106px+10px */
    display: flex;
    justify-content: center;
}

body {
    background: #f4f5f5;
}
</style>