<template>
  <div>
    <Header />
    <div class="main">
      <!-- ================================================== 左半边 ================================================== -->
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Header from "./views/Header.vue";
export default {
  data() {
    return {};
  },
  components: {
    Header
},
};
</script>

<style lang="less">
// .main {
//     margin: 0 auto;
//     margin-top: 116px; /* 这里的距离是头部高度+想要margin-top的距离，106px+10px */
//     display: flex;
//     justify-content: center;
// }

body {
    background: #f4f5f5;
}

</style>
